doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='/javascripts/fb.js')
  body(onload='connect()')
    div(data-role="page")
