doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/questionnaire.js')
    link(rel='stylesheet', href='/stylesheets/evoCube.css')
    link(rel='stylesheet', href='/stylesheets/jquery.mobile.icons.min.css')
    link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.css')
  body(onload='connect()')
    div(data-role="page")
      div(data-role="header")
        h1 #{title}
      div(data-role="content")
        img(id="cinemaImg" style="text-align: left; width:60%; height:auto; display:block; margin-left: auto; margin-right: auto")
        img(id="evoImg" style="text-align: right; width:60%; height:auto; display:block; margin-left: auto; margin-right: auto")
        div
          h3(id='welcome' style="display:none; text-align:center;" ) Danke dass du dir Zeit nimmst uns Feedback zu geben. Das Ausfüllen dauert etwa 2 bis 3 Minuten. <br>Bei dem Fragebogen wird deine Einstellung und Meinung bezüglich mobiler Technologien, interaktiver Werbung, Personalisierung von Filmen und die Funktionalität des Movie Cubes selbst erfragt. <br> Für das Ausfüllen des Fragebogens bekommst du einen Gutschein über 1€ für dein Kinoticket den du heute einlösen kannst.
        div(id = "questionnaireDiv" class="ui-corner-all custom-corners" style="display:none;")
          div(id="question1")
            div(id="q1" name="1" class="ui-bar ui-bar-a")
              p(id='question') 1. Bitte gib dein Alter und dein Geschlecht an.
            div(id="answers" class="ui-body ui-body-a")
              label(for="controlgroup") Alter:
              div(data-role="controlgroup" data-type="horizontal")
                select(id="ageSelect")
                  option
              label(for="controlgroup") Geschlecht:
              div(data-role="controlgroup" data-type="horizontal")
                select(id="sexSelect")
                  option
                  option Weiblich
                  option Männlich
          br
          div(id="question2" style="display:none")          
            div(id="" name="2" class="ui-bar ui-bar-a")
              p(id='question' name="Beschäftigung") 2. Beschäftigung
            div(id="answers" class="ui-body ui-body-a")
              fieldset(data-role="controlgroup")
                input(type="radio" name="q2Radio" id="option1" value="SchülerIn")
                label(for="option1") SchülerIn
                input(type="radio" name="q2Radio" id="option2" value="StudentIn")
                label(for="option2") StudentIn
                input(type="radio" name="q2Radio" id="option3" value="ArbeiterIn")
                label(for="option3") ArbeiterIn
                input(type="radio" name="q2Radio" id="option4" value="Angestelle/r")
                label(for="option4") Angestelle/r
                input(type="radio" name="q2Radio" id="option5" value="Leitende/r Angestellte/r")
                label(for="option5") Leitende/r Angestellte/r
                input(type="radio" name="q2Radio" id="option6" value="Selbstständig")
                label(for="option6") Selbstständig
                input(type="radio" name="q2Radio" id="option7" value="Hausfrau/-mann")
                label(for="option7") Hausfrau/-mann
                input(type="radio" name="q2Radio" id="option8" value="Arbeitssuchende/r")
                label(for="option8") Arbeitssuchende/r
                input(type="radio" name="q2Radio" id="option9" value="PensionistIn")
                label(for="option9") PensionistIn
          
          div(id="question3" style="display:none")
            div(id="q2" name="2" class="ui-bar ui-bar-a")
              p(id='question' name="Schulbildung") 3. Höchste abgeschlossene Schulbildung:
            div(id="answers" class="ui-body ui-body-a")
              fieldset(data-role="controlgroup")
                input(type="radio" name="q3Radio" id="option1" value="Kein Pflichtschulabschluss")
                label(for="option1") Kein Pflichtschulabschluss
                input(type="radio" name="q3Radio" id="option2" value="Pflichtschule")
                label(for="option2") Pflichtschule
                input(type="radio" name="q3Radio" id="option3" value="Lehre")
                label(for="option3") Lehre
                input(type="radio" name="q3Radio" id="option4" value="Matura")
                label(for="option4") Matura
                input(type="radio" name="q3Radio" id="option5" value="Universität/Fachhochschule")
                label(for="option5") Universität/Fachhochschule
          
          div(id="question4")
            div(id="q2" name="2" class="ui-bar ui-bar-a")
              p(id='question' name="Weißt du was der Begriff NFC (Near Field Communication) bedeutet?") 2. Weißt du was der Begriff NFC (Near Field Communication) bedeutet?
            div(id="answers" class="ui-body ui-body-a")
              fieldset(data-role="controlgroup")
                input(type="radio" name="q4Radio" id="option1" value="Ja")
                label(for="option1") Ja
                input(type="radio" name="q4Radio" id="option2" value="Nein")
                label(for="option2") Nein
          br
          div(id="question5")
            div(id="q3" name="3" class="ui-bar ui-bar-a")
              p(id='question' name="Unterstützt dein Smartphone NFC?") 3. Unterstützt dein Smartphone NFC?
            div(id="answers" class="ui-body ui-body-a")
              fieldset(data-role="controlgroup")
                input(type="radio" name="q5Radio" id="option1" value="Ja")
                label(for="option1") Ja
                input(type="radio" name="q5Radio" id="option2" value="Nein")
                label(for="option2") Nein
                input(type="radio" name="q5Radio" id="option3" value="Weiß nicht")
                label(for="option3") Weiß nicht
          br
          div(id="question6")
            div(id="q3" name="3" class="ui-bar ui-bar-a")
              p(id='question' name="Welche Interaktionsmethode bevorzugst du, NFC oder QR?") 4. Welche Interaktionsmethode bevorzugst du, NFC oder QR?
            div(id="answers" class="ui-body ui-body-a")
              fieldset(data-role="controlgroup")
                input(type="radio" name="q6Radio" id="option1" value="NFC")
                label(for="option1") NFC
                input(type="radio" name="q6Radio" id="option2" value="on")
                label(for="option2") QR
                input(type="radio" name="q6Radio" id="option3" value="Kann ich nicht sagen")
                label(for="option3") Kann ich nicht sagen
          br
          div(id="question7")
            div(id="q4" name="4" class="ui-bar ui-bar-a")
              p(id='question' name="Wie würdest du deine Kenntnisse zu mobilen Technologien generell einstufen?") 5. Wie würdest du deine Kenntnisse zu mobilen Technologien generell einstufen?
            div(id="answers" class="ui-body ui-body-a")
              fieldset(data-role="controlgroup")
                input(type="radio" name="q7Radio" id="option1" value="1")
                label(for="option1") 1 = sehr gut
                input(type="radio" name="q7Radio" id="option2" value="2")
                label(for="option2") 2
                input(type="radio" name="q7Radio" id="option3" value="3")
                label(for="option3") 3
                input(type="radio" name="q7Radio" id="option4" value="4")
                label(for="option4") 4
                input(type="radio" name="q7Radio" id="option5" value="5")
                label(for="option5") 5 = überhaupt nicht gut          
          br
          div(id="question8")
            div(id="q5" name="5" class="ui-bar ui-bar-a")
              p(id='question' name="Wenn du an Ihren Umgang mit neuen Medien und Kommunikationstechnologien denken, bist du jemand, der ...") 6. Wenn du an Ihren Umgang mit neuen Medien und Kommunikationstechnologien denken, bist du jemand, der ...
            div(id="answers" class="ui-body ui-body-a")
              fieldset(data-role="controlgroup")
                input(type="radio" name="q8Radio" id="option1" value="diese neuen Technologien sofort ausprobiert?")
                label(for="option1") … diese neuen Technologien sofort ausprobiert?
                input(type="radio" name="q8Radio" id="option2" value="noch etwas wartet, was andere zu den neuen Technologien sagen?")
                label(for="option2") … noch etwas wartet, was andere zu den neuen Technologien sagen?
                input(type="radio" name="q8Radio" id="option3" value="eher länger abwartet, bis sich diese neuen Technologien bewährt haben?")
                label(for="option3") … eher länger abwartet, bis sich diese neuen Technologien bewährt haben?
                input(type="radio" name="q8Radio" id="option4" value="neuen Technologien skeptisch bis ablehnend gegenübersteht?")
                label(for="option4") … neuen Technologien skeptisch bis ablehnend gegenübersteht?
          br
          div(id="question9")
            div(id="q5" name="5" class="ui-bar ui-bar-a")
              p(id='question' name="Von welchen der folgenden mobilen Technologien bzw. Begriffen hast du schon gehört?") 7. Von welchen der folgenden mobilen Technologien bzw. Begriffen hast du schon gehört?
            div(id="answers" class="ui-body ui-body-a")
              fieldset(data-role="controlgroup")
                input(type="checkbox" name="q9Radio" id="option1" value="Datenbrillen")
                label(for="option1") Datenbrillen
                input(type="checkbox" name="q9Radio" id="option2" value="iBeacons")
                label(for="option2") iBeacons
                input(type="checkbox" name="q9Radio" id="option4" value="Bluetooth")
                label(for="option4") Bluetooth
                input(type="checkbox" name="q9Radio" id="option5" value="Smartwatch")
                label(for="option5") Smartwatch
                input(type="checkbox" name="q9Radio" id="option6" value="Internet of Things")
                label(for="option6") Internet of Things
                input(type="checkbox" name="q9Radio" id="option7" value="Smart Home")
                label(for="option7") Smart Home
                input(type="checkbox" name="q9Radio" id="option9" value="Augmented Reality")
                label(for="option9") Augmented Reality
          br
          div(id="question10")
            div(id="q5" name="5" class="ui-bar ui-bar-a")
              p(id='question' name="Was trifft auf ich zu, wenn du über personalisierte Werbeangebote (z.B. auf Facebook, Google oder bei Kundenkarten) nachdenkst?") 8. Was trifft auf ich zu, wenn du über personalisierte Werbeangebote (z.B. auf Facebook, Google oder bei Kundenkarten) nachdenkst?
            div(id="answers" class="ui-body ui-body-a")
              fieldset(data-role="controlgroup")
                input(type="checkbox" name="q10Radio" id="option1" value="Ich weiß nicht was mit meinen Daten passiert.")
                label(for="option1") Ich weiß nicht was mit meinen Daten passiert.
                input(type="checkbox" name="q10Radio" id="option2" value="Ich finde es angenehm, da Werbung dadurch interessanter für mich wird.")
                label(for="option2") Ich finde es angenehm, da Werbung dadurch interessanter für mich wird.
                input(type="checkbox" name="q10Radio" id="option4" value="Ich finde es in Ordnung im Internet im Austausch für meiner persönlichen Daten Services gratis zu benutzen.")
                label(for="option4") Ich finde es in Ordnung im Internet im Austausch für meiner persönlichen Daten Services gratis zu benutzen.
                input(type="checkbox" name="q10Radio" id="option5" value="Solange die Daten nicht missbräuchlich verwendet werden, ist es in Ordnung für mich einer Firma meine persönlichen Daten zu geben.")
                label(for="option5") Solange die Daten nicht missbräuchlich verwendet werden, ist es in Ordnung für mich einer Firma meine persönlichen Daten zu geben.
                input(type="checkbox" name="q10Radio" id="option6" value="Ich denke nicht viel darüber nach, wenn ich meine Daten irgendwo im Internet angebe.")
                label(for="option6") Ich denke nicht viel darüber nach, wenn ich meine Daten irgendwo im Internet angebe.
                input(type="checkbox" name="radio" id="option7" value="Ich lese zumindest manchmal kurz in der AGB, bevor ich der Nutzung meiner Daten zustimme. ")
                label(for="option7") Ich lese zumindest manchmal kurz in der AGB, bevor ich der Nutzung meiner Daten zustimme. 
          br
          div(id="question11")
            div(id="q5" name="5" class="ui-bar ui-bar-a")
              p(id='question' name="Findest du Werbung mit der du interagieren kannst spannender als traditionelle Werbung?") 9. Findest du Werbung mit der du interagieren kannst spannender als traditionelle Werbung?
            div(id="answers" class="ui-body ui-body-a")
              fieldset(data-role="controlgroup")
                input(type="radio" name="q11Radio" id="option1" value="Ja")
                label(for="option1") Ja
                input(type="radio" name="q11Radio" id="option2" value="Nein")
                label(for="option2") Nein
                input(type="radio" name="q11Radio" id="option3" value="Weiß nicht")
                label(for="option3") Weiß nicht
          br
          div(id="question12")
            div(id="q5" name="5" class="ui-bar ui-bar-a")
              p(id='question' name="Reagierst du manchmal auf Werbung, nur weil du bemerkst dass damit interagiert werden kann.") 10. Reagierst du manchmal auf Werbung, nur weil du bemerkst dass damit interagiert werden kann.
            div(id="answers" class="ui-body ui-body-a")
              fieldset(data-role="controlgroup")
                input(type="radio" name="q12Radio" id="option1" value="Ja")
                label(for="option1") Ja
                input(type="radio" name="q12Radio" id="option2" value="Nein")
                label(for="option2") Nein
                input(type="radio" name="q12Radio" id="option3" value="Weiß nicht")
                label(for="option3") Weiß nicht
          br
          div(id="question13")            
            div(id="q5" name="5" class="ui-bar ui-bar-a")
              p(id='question' name="Über die linke Seite des Movie Cubes kannst du dir einen Film suchen, der deinen Vorstellungen entspricht. Über die rechte Seite bekommst du einen zufällig ausgwählten Film. Welche Funktion gefällt dir besser bzw. sinnvoller?") 11. Über die linke Seite des Movie Cubes kannst du dir einen Film suchen, der deinen Vorstellungen entspricht. Über die rechte Seite bekommst du einen zufällig ausgwählten Film. Welche Funktion gefällt dir besser bzw. sinnvoller?
            div(id="answers" class="ui-body ui-body-a")
              fieldset(data-role="controlgroup")
                input(type="radio" name="q13Radio" id="option1" value="Nach meinem Geschmack")
                label(for="option1") Film nach meinen Vorstellungen
                input(type="radio" name="q13Radio" id="option2" value="Ist mir gleichgültig")
                label(for="option2") Ein zufälliger Film
                input(type="radio" name="q13Radio" id="option3" value="Weder noch")
                label(for="option3") Weder noch
          br
          div(id="question14")
            div(id="q5" name="5" class="ui-bar ui-bar-a")
              p(id='question' name="Schaust du dir meistens bevor du ins Kino gehst den Trailer zum Film im Internet an?") 12. Schaust du dir meistens bevor du ins Kino gehst den Trailer zum Film im Internet an?
            div(id="answers" class="ui-body ui-body-a")
              fieldset(data-role="controlgroup")
                input(type="radio" name="q14Radio" id="option1" value="Ja")
                label(for="option1") Ja
                input(type="radio" name="q14Rradio" id="option2" value="Nein")
                label(for="option2") Nein
          br
          div(id="question18")
            div(id="q5" name="5" class="ui-bar ui-bar-a")
              p(id='question' name="Wie wirst du normalerweise auf Filme aufmerksam, die du dir im Kino anschaust?") 13. Wie wirst du normalerweise auf Filme aufmerksam, die du dir im Kino anschaust??
            div(id="answers" class="ui-body ui-body-a")
              fieldset(data-role="controlgroup")
                input(type="checkbox" name="q15Radio" id="option1" value="Durch Plakate / Werbung im Kino.")
                label(for="option1") Durch Plakate / Werbung im Kino.
                input(type="checkbox" name="q15Radio" id="option2" value="Durch die Trailer vor Vorstellungsbeginn im Kino.")
                label(for="option2") Durch die Trailer vor Vorstellungsbeginn im Kino.
                input(type="checkbox" name="q15Radio" id="option4" value="Durch Werbung im Fernsehen.")
                label(for="option4") Durch Werbung im Fernsehen.
                input(type="checkbox" name="q15Radio" id="option5" value="Durch Werbung im Internet.")
                label(for="option5") Durch Werbung im Internet.
                input(type="checkbox" name="q15Radio" id="option6" value="Durch Freunde / Bekannte.")
                label(for="option6") Durch Freunde / Bekannte.
                input(type="checkbox" name="q15Radio" id="option7" value="Über Social Media.")
                label(for="option7") Über Social Media.
                input(type="checkbox" name="q15Radio" id="option8" value="Über andere Kanäle.")
                label(for="option8") Über andere Kanäle.
          br
          div(id="question15")
            div(id="q5" name="5" class="ui-bar ui-bar-a")
              p(id='question' name="Wie bist du auf den Movie Cube hier im Kino aufmerksam geworden?") 14. Wie bist du auf den Movie Cube hier im Kino aufmerksam geworden?
            div(id="answers" class="ui-body ui-body-a")
              fieldset(data-role="controlgroup")
                input(type="checkbox" name="q15Radio" id="option1" value="Das System ist mir aufgefallen und ich war neugierig.")
                label(for="option1") Das System ist mir aufgefallen und ich war neugierig.
                input(type="checkbox" name="q15Radio" id="option2" value="Ein/e Angestellter/e des Kinos hat mich darauf hingewiesen.")
                label(for="option2") Ein/e Angestellter/e des Kinos hat mich darauf hingewiesen.
                input(type="checkbox" name="q15Radio" id="option4" value="Ich habe von Freunden oder Bekannten davon gehört.")
                label(for="option4") Ich habe von Freunden oder Bekannten davon gehört.
                input(type="checkbox" name="q15Radio" id="option5" value="Ich habe auf Facebook davon gelesen.")
                label(for="option5") Ich habe auf Facebook davon gelesen.
                input(type="checkbox" name="q15Radio" id="option6" value="Ich kenne ihn aus einem anderen Kino.")
                label(for="option6") Ich kenne ihn aus einem anderen Kino.
          br
          div(id="question16")
            div(id="q5" name="5" class="ui-bar ui-bar-a")
              p(id='question' name="Füllst du den Fragebogen nur aus, weil du eine Ermäßigung haben möchtest und hast du daher keine anderen Funktionen des Movie Cubes ausprobiert?") 15. Füllst du den Fragebogen nur aus, weil du eine Ermäßigung haben möchtest und hast du daher keine anderen Funktionen des Movie Cubes ausprobiert?
            div(id="answers" class="ui-body ui-body-a")
              fieldset(data-role="controlgroup")
                input(type="radio" name="q16Radio" id="option1" value="Ja")
                label(for="option1") Ja
                input(type="radio" name="q16Radio" id="option2" value="Nein")
                label(for="option2") Nein
          br
          div(id="question17")
            div(id="q5" name="5" class="ui-bar ui-bar-a")
              p(id='question' name="Hast du vielleicht sonst noch Ideen, Anregungen, Kritik oder Feedback für den Movie Cube oder die Filmpersonalisierung?") 16. Hast du vielleicht sonst noch Ideen, Anregungen, Kritik oder Feedback für den Movie Cube oder die Filmpersonalisierung?
            div(id="answers" class="ui-body ui-body-a")
              textarea(name="radio" id="" value="")
          br
          p(id="missingAnswers" style="color:red; font-weight:bold;")
          p(id='asdf') Wenn du den Fragebogen absendest, bekommst du deinen Gutschein direkt auf dem Handy angezeigt.
          button(id='sendQuestionnaireBtn' onClick='sendToServer()' class='myButton') Fragebogen absenden


