doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/remote.js')
    link(rel='stylesheet', href='/stylesheets/mobile.css')
    link(rel='stylesheet', href='/stylesheets/jquery.mobile.icons.min.css')
    link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.css')
  body(onload='connect()')
    div(data-role="page")
      div(data-role="header")
        h1 #{title}
      div(data-role="content")
        div: p(id='status') Waiting for input
        ul(data-role="listview" id="movieList" data-inset="true")
        button(id='play' onClick='start()' class='myButton') Play/Pause Video
        button(id='stop' onClick='stopVideo()' class='myButton') Stop Video
        br
        label(for="slider-fill") Volume
        input(type="range" name="volume" id="volume" value="100" min="0" max="100" data-highlight="true")
      div(data-role="footer")
        h4 #{title}